.h80{height:80px;line-height:80px;}
.f21{font-size:21px;}
.tc{text-align:center;}
.bdb{border:1px solid #C4DDF1;}
.mt60{margin-top:60px;}
.bgblack{background-color:#313336;}
.bgblue{background-color:#0593D3;}
