<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>1、什么是css3</h1>
<p>在编写CSS3样式时，不同的浏览器可能需要不同的前缀。它表示该CSS属性或规则尚未成为W3C标准的一部分，是浏览器的私有属性，虽然目前较新版本的浏览器
    都是不需要前缀的，但为了更好的向前兼容前缀还是少不了的。</p>
<table>
    <tr>
        <td>前缀</td>
        <td>浏览器</td>
    </tr>
    <tr>
        <td>-webkit</td>
        <td>chrome和safari</td>
    </tr>
    <tr>
        <td>-moz</td>
        <td>firefox</td>
    </tr>
    <tr>
        <td>-ms</td>
        <td>IE</td>
    </tr>
    <tr>
        <td>-o</td>
        <td>opera</td>
    </tr>
</table>

<h1>2、css3能做什么？</h1>
<p>CSS3给我们带来了什么好处呢？简单的说，CSS3把很多以前需要使用图片和脚本来实现的效果、甚至动画效果，只需要短短几行代码就能搞定。比如圆角，图片
    边框，文字阴影和盒阴影，过渡、动画等。</p>
<p>CSS3简化了前端开发工作人员的设计过程，加快页面载入速度。<br/>

    CSS3都有哪些强大功能呢？各位小伙伴们先来一睹为快吧！<br/>

    选择器<br/>
    以前我们通常用class、 ID 或 tagname 来选择HTML元素，CSS3的选择器强大的难以置信。它们可以减少在标签中的class和ID的数量更方便的维护样式表、更好的实现结构与表现的分离。
    <br/>

    圆角效果<br/>
    以前做圆角通常使用背景图片，或繁琐的元素拼凑，现在很简单了 border-radius 帮你轻松搞定。<br/>



    块阴影与文字阴影<br/>
    可以对任意DIV和文字增加投影效果。<br/>



    色彩<br/>
    CSS3支持更多的颜色和更广泛的颜色定义。新颜色CSS3支持HSL ， CMYK ，HSLA and RGBA。<br/>


    渐变效果<br/>
    以前只能用Photoshop做出的图片渐变效果，现在可以用CCS写出来了。IE中的滤镜也可以实现。<br/>



    个性化字体<br/>
    网页上的字体太单一？使用@Font-Face 轻松实现定制字体。<br/>



    多背景图<br/>
    一个元素上添加多层背景图片。<br/>



    边框背景图<br/>
    边框应用背景图片。<br/>


    变形处理<br/>
    你可以对HTML元素进行旋转、缩放、倾斜、移动、甚至以前只能用JavaScript实现的强大动画。<br/>



    多栏布局<br/>
    可以让你不用使用多个div标签就能实现多栏布局。浏览器解释这个属性并生成多栏，让文本实现一个仿报纸的多栏结构。<br/>



    媒体查询<br/>
    针对不同屏幕分辨率，应用不同的样式。<br/>
</p>

</body>
</html>