<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        a[class^=icon]{
            background: green;
            color:#fff;
        }
        a[href$=pdf]{
            background: orange;
            color: #fff;
        }
        a[title*=more]{
            background: blue;
            color: #fff;
        }
    </style>
    <style>
        :root {
            background:orange;
        }
    </style>
    <style>
        form {
            width: 200px;
            margin: 20px auto;
        }
        form div {
            margin-bottom: 20px;
        }
        input:not([type="submit"]){
            border:1px solid red;
        }
    </style>
</head>
<body>
<div style="width:1200px;margin:0 auto;padding:20px;">
    <h1>1、属性选择器</h1>
    <table>
        <tr>
            <td>属性选择器</td>
            <td>功能描述</td>
        </tr>
        <tr>
            <td>E[att^="val"]</td>
            <td>选择匹配元素E,且E元素定义了属性att,其属性值以val开头的任何字符串</td>
        </tr>
        <tr>
            <td>E[att$="val"]</td>
            <td>选择匹配元素E，且E元素定义了属性att,其属性值以val结尾的任何字符串</td>
        </tr>
        <tr>
            <td>E[att*="val"]</td>
            <td>选择匹配元素E，且E元素定义了属性att,其属性值任意位置包含了"val"</td>
        </tr>
    </table>
    <a href="xxx.pdf">我链接的是PDF文件</a>
    <a href="#" class="icon">我类名是icon</a>
    <a href="#" title="我的title是more">我的title是more</a>
    <br/><br/><br/><br/><br/><br/>
    <h1>2、结构性伪类选择器-root</h1>
    <p>:root选择器，从字面上我们就可以很清楚的理解是根选择器，他的意思就是匹配元素E所在文档的根元素。在HTML文档中，根元素始终是html</p>
    <p>通过“:root”选择器设置背景颜色</p>
    <div>:root选择器的演示</div>
    <br/><br/><br/><br/><br/><br/>
    <h1>3、结构性伪类选择器—not</h1>
    <p>:not选择器称为否定选择器，和jQuery中的:not选择器一模一样，可以选择除某个元素之外的所有元素。就拿form元素来说，比如说你想给表单中
        除submit按钮之外的input元素添加红色边框</p>
    <form action="#">
        <div>
            <label for="name">Text Input:</label>
            <input type="text" name="name" id="name" placeholder="John Smith" />
        </div>
        <div>
            <label for="name">Password Input:</label>
            <input type="text" name="name" id="name" placeholder="John Smith" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
    <br/><br/><br/><br/><br/><br/>
    <h1>4、结构性伪类选择器—empty</h1>
    <p>:empty选择器表示的就是空。用来选择没有任何内容的元素，这里没有内容指的是一点内容都没有，哪怕是一个空格</p>
    <p>示例显示：

        比如说，你的文档中有三个段落p元素，你想把没有任何内容的P元素隐藏起来。我们就可以使用“:empty”选择器来控制。</p>
    <xmp>
        <p>我是一个段落</p>
        <p> </p>
        <p></p>​
    </xmp>
    <pre>
        p{
         background: orange;
         min-height: 30px;
        }
        p:empty {
          display: none;
        }​
    </pre>
    <br/><br/><br/><br/><br/><br/>
    <h1>5、结构性伪类选择器—target</h1>
    <p>:target选择器称为目标选择器，用来匹配文档(页面)的url的某个标志符的目标元素。我们先来上个例子，然后再做分析。</p>
    <p>点击链接显示隐藏的段落</p>
    <xmp>
        <h2><a href="#brand">点我</a></h2>
        <div class="menuSection" id="brand">
            content for Brand
        </div>
    </xmp>
    <pre>
        .menuSection{
          display: none;
        }
        :target{/*这里的:target就是指id="brand"的div对象*/
          display:block;
        }
    </pre>
    <p>
        分析：<br/>
        1、具体来说，触发元素的URL中的标志符通常会包含一个#号，后面带有一个标志符名称，上面代码中是：#brand<br/>

        2、:target就是用来匹配id为“brand”的元素（id="brand"的元素）,上面代码中是那个div元素。<br/>
    </p>
    <p>多个url（多个target）处理：</p>
    <p>就像上面的例子，#brand与后面的id="brand"是对应的，当同一个页面上有很多的url的时候你可以取不同的名字，只要#号后对的名称与id=""中的
        名称对应就可以了。</p>
    <xmp>
        <h2><a href="#brand">Brand</a></h2>
        <div class="menuSection" id="brand">
            content for Brand
        </div>
        <h2><a href="#jake">Brand</a></h2>
        <div class="menuSection" id="jake">
            content for jake
        </div>
        <h2><a href="#aron">Brand</a></h2>
        <div class="menuSection" id="aron">
            content for aron
        </div>
    </xmp>
    <pre>
        #brand:target {
          background: orange;
          color: #fff;
        }
        #jake:target {
          background: blue;
          color: #fff;
        }
        #aron:target {
          background: red;
          color: #fff;
        }
    </pre>
    <br/><br/><br/><br/><br/><br/>
    <h1>6、结构性伪类选择器—first-child</h1>
    <p>“:first-child”选择器表示的是选择父元素的第一个子元素的元素E。简单点理解就是选择元素中的第一个子元素，记住是子元素，而不是后代元素</p>
    <p>
        示例代码：<br/>
        通过“:first-child”选择器定位列表中的第一个列表项，并将序列号颜色变为红色。
    </p>
    <xmp>
        <ol>
            <li><a href="##">Link1</a></li>
            <li><a href="##">Link2</a></li>
            <li><a href="##">link3</a></li>
        </ol>
    </xmp>
    <pre>
        ol > li{
          font-size:20px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        ol a {
          font-size: 16px;
          font-weight: normal;
        }

        ol > li:first-child{
          color: red;
        }
    </pre>
    <p>效果如下</p>
    <ul style="list-style: none;">
        <li><span style="color:red;">1.</span>Link1</li>
        <li><span>2.</span>Link2</li>
        <li><span>3.</span>Link3</li>
    </ul>
    <br/><br/><br/><br/><br/><br/>
    <h1>7、结构性伪类选择器—last-child</h1>
    <p>“:last-child”选择器与“:first-child”选择器作用类似，不同的是“:last-child”选择器选择的是元素的最后一个子元素。</p>
    <p>例如，需要改变的是列表中的最后一个“li”的背景色，就可以使用这个选择器，</p>
    <p>ul>li:last-child{background:blue;}</p>
    <p>在博客的排版中，每个段落都有15px的margin-bottom，假设不想让博客“post”中最后一个段落不需要底部的margin值，可以使用“:last-child”选择器。</p>
    <xmp>
        <div class="post">
            <p>第一段落</p>
            <p>第二段落</p>
            <p>第三段落</p>
            <p>第四段落</p>
            <p>第五段落</p>
        </div>​
    </xmp>
    <pre>
        .post {
          padding: 10px;
          border: 1px solid #ccc;
          width: 200px;
          margin: 20px auto;
        }
        .post p {
          margin:0 0 15px 0;
        }

        .post p:last-child {
          margin-bottom:0;
        }
    </pre>
    <p>效果如下</p>
    <div class="post" style="padding: 10px;border: 1px solid #ccc;width: 200px;margin: 20px auto;">
        <p style="margin:0 0 30px 0;">第一段落</p>
        <p style="margin:0 0 30px 0;">第二段落</p>
        <p style="margin:0 0 30px 0;">第三段落</p>
        <p style="margin:0 0 30px 0;">第四段落</p>
        <p style="margin:0 0 0 0;">第五段落</p>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <h1>8、结构性伪类选择器—nth-child(n)</h1>
    <p>“:nth-child(n)”选择器用来定位某个父元素的一个或多个特定的子元素。其中“n”是其参数，而且可以是整数值(1,2,3,4)，也可以是
        表达式(2n+1、-n+5)和关键词(odd、even)，但参数n的起始值始终是1，而不是0。也就是说，参数n的值为0时，选择器将选择不到任何匹配的元素。</p>
    <p>经验与技巧:当“:nth-child(n)”选择器中的n为一个表达式时，其中n是从0开始计算，当表达式的值为0或小于0的时候，不选择任何匹配的元素。
        如下表所示：</p>
    <table style="border:1px solid red;">
        <tr>
            <td style="width:60px;">n</td>
            <td style="width:60px;">2n+1</td>
            <td style="width:60px;">4n+1</td>
            <td style="width:60px;">4n+4</td>
            <td style="width:60px;">4n</td>
            <td style="width:60px;">5n-2</td>
            <td style="width:60px;">-n+3</td>
        </tr>
        <tr>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td>3</td>
        </tr>
        <tr>
            <td>1</td>
            <td>3</td>
            <td>5</td>
            <td>8</td>
            <td>4</td>
            <td>3</td>
            <td>2</td>
        </tr>
        <tr>
            <td>2</td>
            <td>5</td>
            <td>9</td>
            <td>12</td>
            <td>8</td>
            <td>8</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>7</td>
            <td>13</td>
            <td>16</td>
            <td>12</td>
            <td>13</td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>9</td>
            <td>17</td>
            <td>20</td>
            <td>16</td>
            <td>18</td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>11</td>
            <td>21</td>
            <td>24</td>
            <td>20</td>
            <td>23</td>
            <td></td>
        </tr>
    </table>
    <p>案例演示</p>
    <p>通过“:nth-child(n)”选择器，并且参数使用表达式“2n”，将偶数行列表背景色设置为红色。</p>
    <xmp>
        <ol>
            <li>item1</li>
            <li>item2</li>
            <li>item3</li>
            <li>item4</li>
            <li>item5</li>
            <li>item6</li>
            <li>item7</li>
            <li>item8</li>
            <li>item9</li>
            <li>item10</li>
        </ol>​
    </xmp>
    <pre>
        ol > li:nth-child(2n){
          background: red;
        }
    </pre>
    <p>效果如下：</p>
    <ol>
        <li>item1</li>
        <li style="background:red;">item2</li>
        <li>item3</li>
        <li style="background:red;">item4</li>
        <li>item5</li>
        <li style="background:red;">item6</li>
        <li>item7</li>
        <li style="background:red;">item8</li>
        <li>item9</li>
        <li style="background:red;">item10</li>
    </ol>​
    <br/><br/><br/><br/><br/><br/>
    <h1>9、结构性伪类选择器—nth-last-child(n)</h1>
    <p>“:nth-last-child(n)”选择器和前面的“:nth-child(n)”选择器非常的相似，只是这里多了一个“last”，所起的作用和“:nth-child(n)”选择器
        有所区别，从某父元素的最后一个子元素开始计算，来选择特定的元素。</p>
    <p>案例演示</p>
    <p>选择列表中倒数第五个列表项，将其背景设置为红色</p>
    <xmp>
        <ol>
            <li>item1</li>
            <li>item2</li>
            <li>item3</li>
            <li>item4</li>
            <li>item5</li>
            <li>item6</li>
            <li>item7</li>
            <li>item8</li>
            <li>item9</li>
            <li>item10</li>
        </ol>​
    </xmp>
    <pre>
        ol > li:nth-last-child(5){
          background: red;
        }
    </pre>
    <ol>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
        <li>item4</li>
        <li>item5</li>
        <li style="background:red;">item6</li>
        <li>item7</li>
        <li>item8</li>
        <li>item9</li>
        <li>item10</li>
    </ol>​
    <br/><br/><br/><br/><br/><br/>
    <h1>10、first-of-type选择器</h1>
    <p>“:first-of-type”选择器类似于“:first-child”选择器，不同之处就是指定了元素的类型,其主要用来定位一个父元素下的某个类型的第一个子元素</p>
    <p>示例演示：</p>
    <p>通过“:first-of-type”选择器，定位div容器中的第一个p元素（p不一定是容器中的第一个子元素），并设置其背景色为红色。</p>
    <xmp>
        <div class="wrapper">
            <div>我是一个块元素，我是.wrapper的第一个子元素</div>
            <p>我是一个段落元素，我是不是.wrapper的第一个子元素，但是他的第一个段落元素</p>
            <p>我是一个段落元素</p>
            <div>我是一个块元素</div>
        </div>
    </xmp>
    <pre>
        .wrapper {
          width: 500px;
          margin: 20px auto;
          padding: 10px;
          border: 1px solid #ccc;
          color: #fff;
        }
        .wrapper > div {
          background: green;
        }
        .wrapper > p {
          background: blue;
        }
        /*我要改变第一个段落的背景为红色*/
        .wrapper > p:first-of-type {
          background: red;
        }
    </pre>
    <div style="width: 500px;margin: 20px auto;padding: 10px;border: 1px solid #ccc;color: #fff;">
        <div style="background: green;">我是一个块元素，我是.wrapper的第一个子元素</div>
        <p style="background: red;">我是一个段落元素，我是不是.wrapper的第一个子元素，但是他的第一个段落元素</p>
        <p style="background: blue;">我是一个段落元素</p>
        <div style="background: green;">我是一个块元素</div>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <h1>11、nth-of-type(n)选择器</h1>
    <p>
        “:nth-of-type(n)”选择器和“:nth-child(n)”选择器非常类似，不同的是它只计算父元素中指定的某种类型的子元素。当某个元素中的子元素不单单
        是同一种类型的子元素时，使用“:nth-of-type(n)”选择器来定位于父元素中某种类型的子元素是非常方便和有用的。在“:nth-of-type(n)”选择器
        中的“n”和“:nth-child(n)”选择器中的“n”参数也一样，可以是具体的整数，也可以是表达式，还可以是关键词。
    </p>
    <p>示例演示</p>
    <p>通过“:nth-of-type(2n)”选择器，将容器“div.wrapper”中偶数段数的背景设置为红色。</p>
    <xmp>
        <div class="wrapper">
            <div>我是一个Div元素</div>
            <p>我是一个段落元素</p>
            <div>我是一个Div元素</div>
            <p>我是一个段落</p>
            <div>我是一个Div元素</div>
            <p>我是一个段落</p>
            <div>我是一个Div元素</div>
            <p>我是一个段落</p>
            <div>我是一个Div元素</div>
            <p>我是一个段落</p>
            <div>我是一个Div元素</div>
            <p>我是一个段落</p>
            <div>我是一个Div元素</div>
            <p>我是一个段落</p>
            <div>我是一个Div元素</div>
            <p>我是一个段落</p>
        </div>
    </xmp>
    <pre>
        .wrapper > p:nth-of-type(2n){
          background: red;
        }
    </pre>
    <p>效果如下：</p>
    <div class="wrapper">
        <div>我是一个Div元素</div>
        <p>我是一个段落元素</p>
        <div>我是一个Div元素</div>
        <p style="background:red;">我是一个段落</p>
        <div>我是一个Div元素</div>
        <p>我是一个段落</p>
        <div>我是一个Div元素</div>
        <p style="background:red;">我是一个段落</p>
        <div>我是一个Div元素</div>
        <p>我是一个段落</p>
        <div>我是一个Div元素</div>
        <p style="background:red;">我是一个段落</p>
        <div>我是一个Div元素</div>
        <p>我是一个段落</p>
        <div>我是一个Div元素</div>
        <p style="background:red;">我是一个段落</p>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <h1>12、last-of-type选择器</h1>
    <p>“:last-of-type”选择器和“:first-of-type”选择器功能是一样的，不同的是他选择是父元素下的某个类型的最后一个子元素。</p>
    <p>示例演示</p>
    <p>通过“:last-of-type”选择器，将容器“div.wrapper”中最后一个段落元素背景设置为红色<br/>
        （提示：这个段落不是“div.wrapper”容器的最后一个子元素）。</p>
    <xmp>
        <div class="wrapper">
            <p>我是第一个段落</p>
            <p>我是第二个段落</p>
            <p>我是第三个段落</p>
            <div>我是第一个Div元素</div>
            <div>我是第二个Div元素</div>
            <div>我是第三个Div元素</div>
        </div>
    </xmp>
    <pre>
        .wrapper > p:last-of-type{
          background: red;
        }
    </pre>
    <p>效果如下：</p>
    <div class="wrapper">
        <p>我是第一个段落</p>
        <p>我是第二个段落</p>
        <p style="background:red;">我是第三个段落</p>
        <div>我是第一个Div元素</div>
        <div>我是第二个Div元素</div>
        <div>我是第三个Div元素</div>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <h1>13、nth-last-of-type(n)选择器</h1>
    <p>“:nth-last-of-type(n)”选择器和“:nth-of-type(n)”选择器是一样的，选择父元素中指定的某种子元素类型，但它的起始方向是从最后一个子元素
        开始，而且它的使用方法类似于上节中介绍的“:nth-last-child(n)”选择器一样。</p>
    <p>示例演示</p>
    <p>通过“:nth-last-of-type(n)”选择器将容器“div.wrapper”中的倒数第三个段落背景设置为红色。</p>
    <xmp>
        <div class="wrapper">
            <p>我是第一个段落</p>
            <p>我是第二个段落</p>
            <p>我是第三个段落</p>
            <p>我是第四个段落</p>
            <p>我是第五个段落</p>
            <div>我是一个Div元素</div>
            <p>我是第六个段落</p>
            <p>我是第七个段落</p>
        </div>
    </xmp>
    <pre>
        .wrapper > p:nth-last-of-type(3){
          background: red;
        }
    </pre>
    <p>效果如下：</p>
    <div class="wrapper">
        <p>我是第一个段落</p>
        <p>我是第二个段落</p>
        <p>我是第三个段落</p>
        <p>我是第四个段落</p>
        <p style="background:red;">我是第五个段落</p>
        <div>我是一个Div元素</div>
        <p>我是第六个段落</p>
        <p>我是第七个段落</p>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <h1>14、only-child选择器</h1>
    <p>
        “:only-child”选择器选择的是父元素中只有一个子元素，而且只有唯一的一个子元素。也就是说，匹配的元素的父元素中仅有一个子元素，而且是一个
        唯一的子元素。
    </p>
    <p>示例演示</p>
    <p>通过“:only-child”选择器，来控制仅有一个子元素的背景样式，为了更好的理解，我们这个示例通过对比的方式来向大家演示</p>
    <xmp>
        <div class="post">
            <p>我是一个段落</p>
            <p>我是一个段落</p>
        </div>
        <div class="post">
            <p>我是一个段落</p>
        </div>
    </xmp>
    <pre>
        .post p {
          background: green;
          color: #fff;
          padding: 10px;
        }
        .post p:only-child {
          background: red;
        }
    </pre>
    <p>效果如下：</p>
    <div class="post">
        <p style="background: green;color: #fff;padding: 10px;">我是一个段落</p>
        <p style="background: green;color: #fff;padding: 10px;">我是一个段落</p>
    </div>
    <div class="post">
        <p style="background: red;">我是一个段落</p>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <h1>15、only-of-type选择器</h1>
    <p>
        “:only-of-type”选择器用来选择一个元素是它的父元素的唯一一个相同类型的子元素。这样说或许不太好理解，换一种说法。“:only-of-type”是
        表示一个元素他有很多个子元素，而其中只有一种类型的子元素是唯一的，使用“:only-of-type”选择器就可以选中这个元素中的唯一一个类型子元素。
    </p>
    <p>示例演示</p>
    <p>通过“:only-of-type”选择器来修改容器中仅有一个div元素的背景色为红色。</p>
    <xmp>
        <div class="wrapper">
            <p>我是一个段落</p>
            <p>我是一个段落</p>
            <p>我是一个段落</p>
            <div>我是一个Div元素</div>
        </div>
        <div class="wrapper">
            <div>我是一个Div</div>
            <ul>
                <li>我是一个列表项</li>
            </ul>
            <p>我是一个段落</p>
        </div>
    </xmp>
    <pre>
        .wrapper > div:only-of-type {
          background: red;
        }
    </pre>
    <p>效果如下：</p>
    <div class="wrapper">
        <p>我是一个段落</p>
        <p>我是一个段落</p>
        <p>我是一个段落</p>
        <div style="background:red;">我是一个Div元素</div>
    </div>
    <div class="wrapper">
        <div style="background:red;">我是一个Div</div>
        <ul>
            <li>我是一个列表项</li>
        </ul>
        <p>我是一个段落</p>
    </div>
</div>



</body>
</html>