<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

    </style>
</head>
<body>
<div style="width:1200px;margin:0 auto;padding:20px;">
    <h1>1、多列布局——Columns</h1>
    <p>
        为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。
        它主要应用在文本的多列布局方面，这种布局在报纸和杂志上都使用了几十年了，但要在Web页面上实现这样的效果还是有相当大的难度，庆幸的是，
        CSS3的多列布局可以轻松实现。接下来咱们一起学习多列布局相关的知识。
    </p>
    <p>语法：</p>
    <p>columns：<column-width> || <column-count></p>
    <p>多列布局columns属性参数主要就两个属性参数：列宽和列数。</p>
    <table>
        <tr>
            <td>参数</td>
            <td>参数说明</td>
        </tr>
        <tr>
            <td>column-width</td>
            <td>主要用来定义多列中每列的宽度</td>
        </tr>
        <tr>
            <td>column-count</td>
            <td>主要用来定义多列中的列数</td>
        </tr>
    </table>
    <p>举例：要显示2栏显示，每栏宽度为200px，代码为：</p>
    <p>columns: 200px 2;</p>
    <br/><br/><br/><br/><br/><br/>
    <h1>2、多列布局——column-width</h1>
    <p>
        column-width的使用和CSS中的width属性一样，不过不同的是，column-width属性在定义元素列宽的时候，既可以单独使用，也可以和多列属性中
        其他属性配合使用。其基本语法如下所示 ；
    </p>
    <p>column-width: auto | length</p>
    <p>取值说明</p>
    <table>
        <tr>
            <td>属性值</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>auto</td>
            <td>
                如果column-width设置值为auto或者没有显式的设置值时，元素多列的列宽将由其他属性来决定，
                比如前面的示例就是由列数column-count来决定。
            </td>
        </tr>
        <tr>
            <td>length</td>
            <td>使用固定值来设置元素列的宽度，其主要是由数值和长度单位组成，不过其值只能是正值，不能为负值。</td>
        </tr>
    </table>
    <xmp>
        <div class="columns">
            <h2>我要分列显示</h2>
            <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
            <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
            <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
        </div>
    </xmp>
    <pre>
        .columns {
          padding: 5px;
          border: 1px solid green;
          width: 900px;
          margin: 20px auto;

          -webkit-column-width:200px;
          -moz-column-width:200px;
          -o-column-width:200px;
          -ms-column-width:200px;
          column-width:200px;

          -webkit-column-count:3;
          -moz-column-count:3;
          -o-column-count:3;
          -ms-column-count:3;
          column-count:3;
        }
    </pre>
    <p>效果如下：</p>
    <div style="padding: 5px;border: 1px solid green;width: 900px;margin: 20px auto;
          -webkit-column-width:200px;-moz-column-width:200px;
          -o-column-width:200px;-ms-column-width:200px;
          column-width:200px;
          -webkit-column-count:3;-moz-column-count:3;
          -o-column-count:3;-ms-column-count:3;
          column-count:3;">
        <h2>我要分列显示</h2>
        <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
        <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
        <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <h1>3、多列布局——column-count</h1>
    <p>column-count属性主要用来给元素指定想要的列数和允许的最大列数。其语法规则：</p>
    <p>column-count：auto | integer</p>
    <p>取值说明</p>
    <table>
        <tr>
            <td>属性值</td>
            <td>属性值说明</td>
        </tr>
        <tr>
            <td>auto</td>
            <td>此值为column-count的默认值，表示元素只有一列，其主要依靠浏览器计算自动设置。</td>
        </tr>
        <tr>
            <td>integer</td>
            <td>此值为正整数值，主要用来定义元素的列数，取值为大于0的整数，负值无效。</td>
        </tr>
    </table>
    <p>例如：将列分成四列显示，代码如下：</p>
    <p>column-count:4;</p>
    <br/><br/><br/><br/><br/><br/>
    <h1>4、列间距column-gap</h1>
    <p>column-gap主要用来设置列与列之间的间距，其语法规则如下：</p>
    <p>column-gap: normal || length</p>
    <p>取值说明</p>
    <table>
        <tr>
            <td>属性值</td>
            <td>属性值说明</td>
        </tr>
        <tr>
            <td>normal</td>
            <td>默认值，默值为1em（如果你的字号是px，其默认值为你的font-size值）。</td>
        </tr>
        <tr>
            <td>length</td>
            <td>
                此值用来设置列与列之间的距离，其可以使用px,em单位的任何整数值，但不能是负值。
            </td>
        </tr>
    </table>
    <p>例如：将内容分三列显列，列与列之间的间距为2em，实现代码为：</p>
    <p>
        column-count: 3;
        column-gap: 2em;
    </p>
    <br/><br/><br/><br/><br/><br/>
    <h1>5、 列表边框column-rule</h1>
    <p>
        column-rule主要是用来定义列与列之间的边框宽度、边框样式和边框颜色。简单点说，就有点类似于常用的border属性。但column-rule是不占用
        任何空间位置的，在列与列之间改变其宽度不会改变任何列的位置。
    </p>
    <p>语法规则：</p>
    <p>column-rule:column-rule-width|column-rule-style|column-rule-color</p>
    <p>取值说明：</p>
    <table>
        <tr>
            <td>属性值</td>
            <td>属性值说明</td>
        </tr>
        <tr>
            <td>column-rule-width</td>
            <td>
                类似于border-width属性，主要用来定义列边框的宽度，其默认值为“medium”，column-rule-width属性接受任意浮点数，但不接收负值。
                但也像border-width属性一样，可以使用关键词：medium、thick和thin
            </td>
        </tr>
        <tr>
            <td>column-rule-style</td>
            <td>
                类似于border-style属性，主要用来定义列边框样式，其默认值为“none”。column-rule-style属性值与border-style属值相同，
                包括none、hidden、dotted、dashed、solid、double、groove、ridge、inset、outset。
            </td>
        </tr>
        <tr>
            <td>column-rule-color</td>
            <td>
                类似于border-color属性，主要用来定义列边框颜色，其默认值为前景色color的值，使用时相当于border-color。
                column-rule-color接受所有的颜色。如果不希望显示颜色，也可以将其设置为transparent(透明色)
            </td>
        </tr>
    </table>
    <p>例如：为了能有效区分栏目列之间的关系，可以为其设置一个列边框，代码为：</p>
    <p>column-rule: 2px dotted green;</p>
    <p>实例如下：</p>
    <xmp>
        <div class="columns">
            <h2>我要分列显示</h2>
            <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
            <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
            <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
        </div>
    </xmp>
    <pre>
        .columns {
          padding: 5px;
          border: 1px solid green;
          width: 900px;
          margin: 20px auto;

          -webkit-column-count:3;
          -moz-column-count:3;
          -o-column-count:3;
          -ms-column-count:3;
          column-count:3;

          -webkit-column-gap: 2em;
          -moz-column-gap: 2em;
          -o-column-gap: 2em;
          -ms-column-gap: 2em;
          column-gap: 2em;

          -webkit-column-rule:3px solid gray;
          -moz-column-rule:3px solid gray;
          -o-column-rule:3px solid gray;
          -ms-column-rule:3px solid gray;
          column-rule:3px solid gray;
        }
    </pre>
    <div style="padding: 5px;border: 1px solid green;width: 900px;margin: 20px auto;

          -webkit-column-count:3;-moz-column-count:3;-o-column-count:3;
          -ms-column-count:3;column-count:3;

          -webkit-column-gap: 2em;-moz-column-gap: 2em;-o-column-gap: 2em;
          -ms-column-gap: 2em;column-gap: 2em;

          -webkit-column-rule:3px solid gray;-moz-column-rule:3px solid gray;
          -o-column-rule:3px solid gray;-ms-column-rule:3px solid gray;
          column-rule:3px solid gray;">
        <h2>我要分列显示</h2>
        <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
        <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
        <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <h1>6、跨列设置column-span</h1>
    <p>
        column-span主要用来定义一个分列元素中的子元素能跨列多少。column-width、column-count等属性能让一元素分成多列，不管里面元素如何排放
        顺序，他们都是从左向右的放置内容，但有时我们需要基中一段内容或一个标题不进行分列，也就是横跨所有列，此时column-span就可以轻松实现，此属性的语法如下。
    </p>
    <p>column-span: none | all</p>
    <p>取值说明</p>
    <table>
        <tr>
            <td>属性值</td>
            <td>属性值说明</td>
        </tr>
        <tr>
            <td>none</td>
            <td>此值为column-span的默认值，表示不跨越任何列。</td>
        </tr>
        <tr>
            <td>all</td>
            <td>这个值跟none值刚好相反，表示的是元素跨越所有列，并定位在列的Ｚ轴之上。</td>
        </tr>
    </table>
    <p>例如：将第一个标题跨越所有列，代码：</p>
    <p>column-span:all;</p>
    <p>示例如下</p>
    <xmp>
        <div class="columns">
            <h2>我要分列显示</h2>
            <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
            <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
            <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
            <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
            <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
            <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
        </div>
    </xmp>
    <pre>
        .columns {
          padding: 5px;
          border: 1px solid green;
          width: 900px;
          margin: 20px auto;

          -webkit-column-count:3;
          -moz-column-count:3;
          -o-column-count:3;
          -ms-column-count:3;
          column-count:3;

          -webkit-column-gap: 2em;
          -moz-column-gap: 2em;
          -o-column-gap: 2em;
          -ms-column-gap: 2em;
          column-gap: 2em;

          -webkit-column-rule: 3px gray solid;
          -moz-column-rule: 3px gray solid;
          -o-column-rule: 3px gray solid;
          -ms-column-rule: 3px gray solid;
          column-rule: 3px gray solid;
        }
        h2{
          background: green;
          padding: 10px;
          color: #fff;
        }

        .columns h2,
        .columns p:nth-child(2n){
          -webkit-column-span:all;
          -moz-column-span:all;
          -o-column-span:all;
          -ms-column-span:all;
          column-span:all;
        }
    </pre>
    <p>效果如下：</p>
    <style>
        .columns6 h2,
        .columns6 p:nth-child(2n){
            -webkit-column-span:all;
            -moz-column-span:all;
            -o-column-span:all;
            -ms-column-span:all;
            column-span:all;
        }
    </style>
    <div class="columns6" style="padding: 5px;
          border: 1px solid green;
          width: 900px;
          margin: 20px auto;

          -webkit-column-count:3;
          -moz-column-count:3;
          -o-column-count:3;
          -ms-column-count:3;
          column-count:3;

          -webkit-column-gap: 2em;
          -moz-column-gap: 2em;
          -o-column-gap: 2em;
          -ms-column-gap: 2em;
          column-gap: 2em;

          -webkit-column-rule: 3px gray solid;
          -moz-column-rule: 3px gray solid;
          -o-column-rule: 3px gray solid;
          -ms-column-rule: 3px gray solid;
          column-rule: 3px gray solid;">
        <h2 style="background: green;padding: 10px;color: #fff;">我要分列显示</h2>
        <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
        <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
        <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
        <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
        <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
        <p>为了能在Web页面中方便实现类似报纸、杂志那种多列排版的布局，W3C特意给CSS3增加了一个多列布局模块（CSS Multi Column Layout Module）。它主要应用在文本的多列布局方面。对于文本的多列布局，我想大家并不陌生，因为报纸和杂志上我们随处可见，这种布局在报纸和杂志上都使用了几十年了，但需要在Web页面上实现文本的多列布局，正如下图所示。</p>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <h1>7、盒子模型</h1>
    <p>
        CSS中有一种基础设计模式叫盒模型，盒模型定义了Web页面中的元素中如何来解析。CSS中每一个元素都是一个盒模型，包括html和body标签元素。
        在盒模型中主要包括width、height、border、background、padding和margin这些属性，而且他们之间的层次关系可以相互影响：
    </p>
    <p>
        在CSS中盒模型被分为两种，第一种是w3c的标准模型，另一种是IE的传统模型，它们相同之处都是对元素计算尺寸的模型，具体说不是对元素的width、
        height、padding和border以及元素实际尺寸的计算关系，它们不同之处是两者的计算方法不一致，原则上来说盒模型是分得很细的，这里所看到的主
        要是外盒模型和内盒模型，如下面计算公式所示：
    </p>
    <p>
        1.W3C标准盒模型<br/>
        外盒尺寸计算（元素空间尺寸）<br/>

        element空间高度＝内容高度＋内距＋边框＋外距<br/>

        element空间宽度＝内容宽度＋内距＋边框＋外距<br/>

        内盒尺寸计算（元素大小）<br/>

        element高度＝内容高度＋内距＋边框（height为内容高度）<br/>

        element宽度＝内容宽度＋内距＋边框（width为内容宽度）
    </p>
    <p>
        2.IE传统下盒模型（IE6以下，不包含IE6版本或”QuirksMode下IE5.5+”）<br/>

        外盒尺寸计算（元素空间尺寸）<br/>

        element空间高度＝内容高度＋外距（height包含了元素内容宽度、边框、内距）<br/>

        element宽间宽度＝内容宽度＋外距（width包含了元素内容宽度、边框、内距）<br/>

        内盒尺寸计算（元素大小）<br/>

        element高度＝内容高度（height包含了元素内容宽度、边框、内距）<br/>

        element宽度＝内容宽度（width包含了元素内容宽度、边框、内距）
    </p>
    <p>在CSS3中新增加了box-sizing属性，能够事先定义盒模型的尺寸解析方式，其语法规则如下：</p>
    <p>box-sizing: content-box | border-box | inherit</p>
    <p>取值说明：</p>
    <table>
        <tr>
            <td>属性值</td>
            <td>属性值说明</td>
        </tr>
        <tr>
            <td>content-box</td>
            <td>
                默认值，其让元素维持W3C的标准盒模型，也就是说元素的宽度和高度（width/height）等于元素边框宽度（border）加上
                元素内距（padding）加上元素内容宽度或高度（content width/ height），
                也就是element width/height = border + padding + content width / height
            </td>
        </tr>
        <tr>
            <td>border-box</td>
            <td>
                重新定义CSS2.1中盒模型组成的模式，让元素维持IE传统的盒模型（IE6以下版本和IE6-7怪异模式），也就是说元素的宽度或高度等于元素
                内容的宽度或高度。从上面盒模型介绍可知，这里的内容宽度或高度包含了元素的border、padding、内容的宽度或高度（此处的内容宽度或
                高度＝盒子的宽度或高度—边框—内距）。
            </td>
        </tr>
        <tr>
            <td>inherit</td>
            <td>使元素继承父元素的盒模型模式</td>
        </tr>
    </table>
    <p>其中最为关键的是box-sizing中content-box和border-box两者的区别</p>
    <br/><br/><br/><br/><br/><br/>
    <h1>8、伸缩布局（一）</h1>
    <p>
        CSS3引入了一种新的布局模式——Flexbox布局，即伸缩布局盒模型（Flexible Box），用来提供一个更加有效的方式制定、调整和分布一个容器里项目布局，即使它们的大小是未知或者动态的，这里简称为Flex。
<br/>
        Flexbox布局常用于设计比较复杂的页面，可以轻松的实现屏幕和浏览器窗口大小发生变化时保持元素的相对位置和大小不变，同时减少了依赖于浮动布局实现元素位置的定义以及重置元素的大小。
<br/>
        Flexbox布局在定义伸缩项目大小时伸缩容器会预留一些可用空间，让你可以调节伸缩项目的相对大小和位置。例如，你可以确保伸缩容器中的多余空间平均分配多个伸缩项目，当然，如果你的伸缩容器没有足够大的空间放置伸缩项目时，浏览器会根据一定的比例减少伸缩项目的大小，使其不溢出伸缩容器。综合而言，Flexbox布局功能主要具有以下几点：
<br/>
        第一，屏幕和浏览器窗口大小发生改变也可以灵活调整布局；
<br/>
        第二，可以指定伸缩项目沿着主轴或侧轴按比例分配额外空间（伸缩容器额外空间），从而调整伸缩项目的大小；
<br/>
        第三，可以指定伸缩项目沿着主轴或侧轴将伸缩容器额外空间，分配到伸缩项目之前、之后或之间；
<br/>
        第四，可以指定如何将垂直于元素布局轴的额外空间分布到该元素的周围；
<br/>
        第五，可以控制元素在页面上的布局方向；
<br/>
        第六，可以按照不同于文档对象模型（DOM）所指定排序方式对屏幕上的元素重新排序。也就是说可以在浏览器渲染中不按照文档流先后顺序重排伸缩项目顺序。
<br/>
        Flexbox规范版本众多，浏览器对此语法支持度也各有不同，接下来的内容以最新语法版本为例向大家展示：
    </p>
    <p>
        1.创建一个flex容器<br/>

        任何一个flexbox布局的第一步是需要创建一个flex容器。为此给元素设置display属性的值为flex。在Safari浏览器中，你依然需要添加前缀-webkit，
        <br/>
        .flexcontainer{ display: -webkit-flex; display: flex; }
    </p>
    <p>
        2.Flex项目显示
        <br/>
        Flex项目是Flex容器的子元素。他们沿着主要轴和横轴定位。默认的是沿着水平轴排列一行。你可以通过flex-direction来改变主轴方向
        修改为column，其默认值是row。
    </p>
    <p>3.Flex项目列显示</p>
    <p>.flexcontainer{ display: -webkit-flex; display: flex; -webkit-flex-direction: column; flex-direction: column; }</p>
    <p>4.Flex项目移动到顶部</p>
    <p>
        如何将flex项目移动到顶部，取决于主轴的方向。如果它是垂直的方向通过align-items设置；如果它是水平的方向通过justify-content设置。
        <br/>
        .flexcontainer{ -webkit-flex-direction: column; flex-direction: column; -webkit-justify-content: flex-start; justify-content: flex-start; }
        <br/>
        .flexcontainer{ display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-align-items: flex-start; align-items: flex-start; }
    </p>
    <h1>9、伸缩布局（二）</h1>
    <p>Flexbox规范版本众多，浏览器对此语法支持度也各有不同，接下来的内容以最新语法版本为例向大家展示：</p>
    <p>5.Flex项目移到左边
        <br/>
        flex项目称动到左边或右边也取决于主轴的方向。如果flex-direction设置为row，设置justify-content控制方向；如果设置为column，设置align-items控制方向。
        <br/>
        .flexcontainer{ display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-justify-content: flex-start; justify-content: flex-start; }
    </p>
    <p>
        .flexcontainer{ display: -webkit-flex; display: flex; -webkit-flex-direction: column; flex-direction: column; -webkit-align-items: flex-start; align-items: flex-start; }
    </p>
    <p>
        6.Flex项目移动右边
    <br/>
        .flexcontainer{ display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-justify-content: flex-end; justify-content: flex-end; }
    <br/>
        .flexcontainer{ display: -webkit-flex; display: flex; -webkit-flex-direction: column; flex-direction: column; -webkit-align-items: flex-end; align-items: flex-end; }
    </p>
    <p>
        7.水平垂直居中
    <br/>
        在Flexbox容器中制作水平垂直居中是微不足道的。设置justify-content或者align-items为center。另外根据主轴的方向设置flex-direction为row或column。
    <br/>
        .flexcontainer{ display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; }
    <br/>
        .flexcontainer{ display: -webkit-flex; display: flex; -webkit-flex-direction: column; flex-direction: column; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; }
    </p>
    <p>
        8.Flex项目实现自动伸缩
    <br/>
        您可以定义一个flex项目，如何相对于flex容器实现自动的伸缩。需要给每个flex项目设置flex属性设置需要伸缩的值。
    <br/>
        .bigitem{ -webkit-flex:200; flex:200; }  .smallitem{ -webkit-flex:100; flex:100; }
    </p>
    <br/><br/><br/><br/><br/><br/>

</div>
</body>
</html>