<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

    </style>
</head>
<body>
<header>
    <h1>后英语时代</h1>
    <nav>
        <ul>
            <li><a href="">首页</a></li>
            <li><a href="">活动</a></li>
            <li><a href="">话题</a></li>
            <li><a href="">社区</a></li>
        </ul>
    </nav>
</header>
<section id="idea">
    <div>
        <h2>后英语时代：</h2>
        <p>当英语已经当英语已经当英语已经当英语已经当英语已经</p>
    </div>
</section>
<section id="activity">
    <div class="up">
        <div id="colendar" class="left_part"></div>
        <div id="info" class="right_part">
            <div id="bulletin">
                <h3>公告栏</h3>
                <p>买周日买周日买周日买周日买周日买周日买周日买周日买周日</p>
            </div>
        </div>
    </div>
    <div class="down">
        <h3>发现活动</h3>
        <div id="act_slides"></div>
    </div>
</section>
<section id="post">
    <h3>社区文章</h3>
    <article id="posts">
        <article class="item">
            <figure><img src="" alt=""></figure>
            <div class="header"></div>
            <div class="body"></div>
            <div class="footer"></div>
        </article>
    </article>
</section>
<footer>

</footer>
</body>
</html>