<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="../public/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/static/common.css">
    <style>
        .white{color:#ffffff !important;}
        .navbar-fixed-top{height:50px;line-height:50px;}
        .navbar-fixed-bottom{height:50px;line-height:50px;}
        ul{margin-left:20px;}
        ul li{min-height:26px;line-height:26px;}
    </style>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
        　   <a href="##" class="navbar-brand">知丫仔</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="##">网站首页</a></li>
            <li class="dropdown">
                <a href="##" data-toggle="dropdown" class="dropdown-toggle">课件<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="##">html</a></li>
                    <li><a href="##">css</a></li>
                    <li><a href="##">javascript</a></li>
                    <li><a href="##">php</a></li>
                    <li class="disabled"><a href="##">python</a></li>
                </ul>
            </li>
            <li><a href="##">学习笔记</a></li>
            <li><a href="##">成功案例</a></li>
            <li><a href="##">关于我们</a></li>
        </ul>
    </div>
</div>
<div class="container" style="margin-top:90px;">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 搭建一个WEB网站</li>
                <li>常见的软件开发类型</li>
                <li>Web2.0系统软件开发</li>
                <li><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Web2.0系统软件开发
                    <ul class="list-unstyled">
                        <li>搭建一个WEB网站</li>
                        <li>常见的软件开发类型</li>
                        <li>Web2.0系统软件开发</li>
                        <li>HTTP协议介绍</li>
                        <li>B/S和C/S介绍</li>
                        <li>互联网的发展趋势</li>
                        <li>Web开发所需要的构件</li>
                    </ul>
                </li>
                <li>B/S和C/S介绍</li>
                <li>互联网的发展趋势</li>
                <li>Web开发所需要的构件</li>
            </ul>
        </div>
        <div class="col-md-8">.col-md-8</div>
    </div>
</div>

</body>
<script src="../public/static/jquery.min.js"></script>
<script src="../public/static/bootstrap/js/bootstrap.min.js"></script>
<script>

</script>
</html>