<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="../public/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/static/css/common.css">
    <style>
        .white{color:#ffffff !important;}
        .navbar-fixed-top{height:50px;line-height:50px;}
        .navbar-fixed-bottom{height:50px;line-height:50px;}
        .left-menu{margin-left:-30px;}
        .left-menu ul{padding-left:30px;}
        #menubtn{position:absolute;cursor:pointer;float:left;z-index:10;}
        .title{text-align:center;}
    </style>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container ">
        <div class="navbar-header">
        　   <a href="##" class="navbar-brand">知丫仔</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="##">网站首页</a></li>
            <li class="dropdown">
                <a href="##" data-toggle="dropdown" class="dropdown-toggle">课件<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="##">html</a></li>
                    <li><a href="##">css</a></li>
                    <li><a href="##">javascript</a></li>
                    <li><a href="##">php</a></li>
                    <li class="disabled"><a href="##">python</a></li>
                </ul>
            </li>
            <li><a href="##">学习笔记</a></li>
            <li><a href="##">成功案例</a></li>
            <li><a href="##">关于我们</a></li>
        </ul>
    </div>
</div>
<div class="container" style="margin-top:90px;">
    <div class="row">
        <div class="col-md-4 left-menu-wrap">
            <div class="panel panel-info">
                <div class="panel-heading">搭建一个WEB网站</div>

                <ul class="list-group">
                    <li class="list-group-item">

                            <div class="input-group">
                                <input type="text" class="form-control search-input"  placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                </span>
                            </div>


                    </li>
                </ul>
                <div class="panel-body left-menu first-menu">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="##"><span class="glyphicon glyphicon-triangle-right"></span> Home</a>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="##">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home</a></li>
                                <li>
                                    <a href="##"><span class="glyphicon glyphicon-triangle-right"></span> CSS3</a>
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="##">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home</a></li>
                                        <li><a href="##">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CSS3</a></li>
                                        <li><a href="##">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sass</a></li>
                                        <li><a href="##">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;jQuery</a></li>
                                        <li><a href="##">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Responsive</a></li>
                                    </ul>
                                </li>
                                <li><a href="##">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sass</a></li>
                                <li><a href="##">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;jQuery</a></li>
                                <li><a href="##">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Responsive</a></li>
                            </ul>
                        </li>
                        <li><a href="##"><span class="glyphicon glyphicon-triangle-right"></span> CSS3</a></li>
                        <li><a href="##"><span class="glyphicon glyphicon-triangle-right"></span> Sass</a></li>
                        <li><a href="##"><span class="glyphicon glyphicon-triangle-right"></span> jQuery</a></li>
                        <li><a href="##"><span class="glyphicon glyphicon-triangle-right"></span> Responsive</a></li>
                    </ul>
                </div>
                <div class="panel-body second-menu"  style="display:none;">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="##">CSS3</a></li>
                        <li><a href="##">Sass</a></li>
                        <li><a href="##">jQuery</a></li>
                        <li><a href="##">Responsive</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8" id="article-wrap">
            <span class="glyphicon glyphicon-align-justify" id="menubtn"></span>
            <section id="article">
                <article>
                    <h3 class="title">搭建一个WEB网站</h3>
                    <p>
                        搭建一个WEB网站搭建一个WEB网站搭建一个WEB网站搭建一个WEB网站搭建一个WEB网站搭建一个WEB网站
                        搭建一个WEB网站搭建一个WEB网站搭建一个WEB网站搭建一个WEB网站搭建一个WEB网站搭建一个WEB网站
                        搭建一个WEB网站搭建一个WEB网站搭建一个WEB网站搭建一个WEB网站搭建一个WEB网站搭建一个WEB网站搭建一个WEB网站
                    </p>

                </article>
            </section>
        </div>
    </div>
</div>

</body>
<script src="../public/static/js/jquery-3.3.1.min.js"></script>
<script src="../public/static/bootstrap/js/bootstrap.min.js"></script>
<script src="../public/static/js/index.js?t=123"></script>
<script>

</script>
</html>