<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <style>
        .white{color:#ffffff !important;}
        .navbar-fixed-top{height:50px;line-height:50px;}
        .navbar-fixed-bottom{height:50px;line-height:50px;}
        .left-menu{margin-left:-30px;}
        .left-menu ul{padding-left:30px;}
        #menubtn{position:absolute;cursor:pointer;float:left;z-index:10;}
        .title{text-align:center;}
    </style>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container ">
        <div class="navbar-header">
            　   <a href="##" class="navbar-brand">知丫仔</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="{if !isset($topCateId)}active{/if}"><a href="{:url('index/index')}">首页</a></li>
            {volist name="$category" id="c"}
                <li class="{if isset($topCateId) and $topCateId == $c.id}active {/if} {if $c.child != ''} dropdown{/if}">
                    <a href="{if $c.child == ''}{:url('category/index',['cate_id'=>$c['id']])}{else/}#{/if}" {if $c.child != ''}data-toggle="dropdown" class="dropdown-toggle"{/if}>{$c.title}{if $c.child != ''}<span class="caret"></span>{/if}</a>
                    {if $c.child != ''}
                    <ul class="dropdown-menu">
                        {volist name="c.child" id="c1"}
                        <li><a href="{:url('category/index',['cate_id'=>$c1['id']])}">{$c1.title}</a></li>
                        {/volist}
                    </ul>
                    {/if}
                </li>
            {/volist}
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{$Think.session.member_name} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{:url('login/logout')}">退出</a></li>
          </ul>
        </li>
        </ul>
    </div>
</div>