<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <style>
        .white{color:#ffffff !important;}
        .navbar-fixed-top{height:50px;line-height:50px;}
        .navbar-fixed-bottom{height:50px;line-height:50px;}
        .left-menu{margin-left:-30px;}
        .left-menu ul{padding-left:30px;}
        #menubtn{position:absolute;cursor:pointer;float:left;z-index:10;}
        .title{text-align:center;}
    </style>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container ">
        <div class="navbar-header">
            　   <a href="##" class="navbar-brand">知丫仔</a>
        </div>
        <ul class="nav navbar-nav">

            {volist name="$category" id="c"}
                <li class="{if ($i == 1)}active {/if} {if $c.child != ''} dropdown{/if}">
                    <a href="##" {if $c.child != ''}data-toggle="dropdown" class="dropdown-toggle"{/if}>{$c.title}{if $c.child != ''}<span class="caret"></span>{/if}</a>
                    {if $c.child != ''}
                    <ul class="dropdown-menu">
                        {volist name="c.child" id="c1"}
                        <li><a href="##">{$c1.title}</a></li>
                        {/volist}
                    </ul>
                    {/if}
                </li>
            {/volist}
        </ul>
    </div>
</div>