<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加管理员 - 知丫仔</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {load href="/static/layui/css/layui.css" /}
</head>
<body class="layui-layout-body">
<div class="layui-fluid">
    <span class="layui-breadcrumb">
      <a href="">首页</a>
      <a href="">管理员</a>
      <a><cite>编辑</cite></a>
    </span>
    <hr>
    <form class="layui-form" action="" id="editform">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" value="{$admin.name}" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <input type="text" name="account" value="{$admin.account}" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码框</label>
            <div class="layui-input-inline">
                <input type="text" name="pwd" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">复杂点</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id" value="{$admin.id}" />
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{load href="/static/js/jquery-3.3.1.min.js" /}
{load href="/static/layui/layui.js" /}
<script>
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                type:'post',
                url:"{:url('admin/editHandle')}",
                data:$("#editform").serialize(),
                dataType:'json',
                success:function(data){
                    switch(data.status){
                        case 1:
                            alert(data.message);
                            window.location.href="{:url('admin/index')}";
                            break;
                        case 0:
                        case -1:
                            alert(data.message);
                            window.location.back();
                    }

                }
            })

            return false;
        });
    });
</script>

</body>
</html>