<div class="layui-footer">
    <!-- 底部固定区域 -->
    © zhiyazai.com - 底部固定区域
</div>
</div>
{load href="/static/js/jquery-3.3.1.min.js" /}
{load href="/static/layui/layui.js" /}
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
        //右边默认加载地址
        var sIframeHref = '/mydream.php/mydream/'+$("#left-menu .layui-this a").attr("rel")+'.html';
        $("#iframewrap").attr("src",sIframeHref);

        $("#left-menu a").on("click",function(){
            if($(this).attr("rel") != ''){
                var sIframeHref = '/mydream.php/mydream/'+$(this).attr("rel")+'.html';
                $("#iframewrap").attr("src",sIframeHref);
            }
        })

    });
</script>
</body>
</html>