<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台 - 知丫仔</title>
    {load href="/static/layui/css/layui.css" /}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">知丫仔</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" id="top-menu">
            <li class="layui-nav-item {if $curTopNav == 'index'}layui-this{/if}">
                <a href="{:url('index/index',['type'=>'index'])}" >首页</a>
            </li>
            <li class="layui-nav-item {if $curTopNav == 'article'}layui-this{/if}">
                <a href="{:url('index/index',['type'=>'article'])}" >文章</a>
            </li>
            <li class="layui-nav-item {if $curTopNav == 'user'}layui-this{/if}">
                <a href="{:url('index/index',['type'=>'user'])}" >用户</a>
            </li>
            <li class="layui-nav-item {if $curTopNav == 'system'}layui-this{/if}">
                <a href="{:url('index/index',['type'=>'system'])}" >系统</a>
            </li>
            <!--
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
            -->
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/static/images/header.png" class="layui-nav-img">
                    {$Think.session.admin_name}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="{:url('login/logout')}">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test" id="left-menu">
                {foreach $leftNav as $key=>$vo }
                    <li class="layui-nav-item {if $vo.show == '1'}layui-this{/if} {if ($key == 0) and ($vo.child != '')}layui-nav-itemed{/if}">
                        <a href="javascript:;" rel="{$vo.url}">{$vo.title}</a>
                        {if ($vo.child != '')}
                        <dl class="layui-nav-child">
                            {foreach $vo.child as $key1=>$vo1 }
                            <dd class="{if $vo1.show == '1'}layui-this{/if}" >
                                <a href="javascript:;" rel="{$vo1.url}">{$vo1.title}</a>
                                {if ($vo1.child != '')}
                                <dl class="layui-nav-child">
                                    {foreach $vo1.child as $key2=>$vo2 }
                                    <dd><a href="javascript:;" rel="{$vo2.url}">{$vo2.title}</a></dd>
                                    {/foreach}
                                </dl>
                                {/if}
                            </dd>
                            {/foreach}
                        </dl>
                        {/if}
                    </li>
                {/foreach}
            </ul>
        </div>
    </div>

