<div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
</div>
</div>
{load href="/static/js/jquery-3.3.1.min.js" /}
{load href="/static/layui/layui.js" /}
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

        // $("#top-menu a").on("click",function(){
        //     var sType = $(this).attr("rel");
        //     $.ajax({
        //         type:'post',
        //         url:"{:url('Base/getLeftNav')}",
        //         data:{'type':sType},
        //         dataType:'json',
        //         success:function(data){
        //             data = eval(data);
        //             if(data.status==1){
        //                 var sHtml = '';
        //                 for(var i=0;i < data.data.length;i++){
        //                     sHtml += '<li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">'+data.data[i].title;
        //                     if(data.data[i].child != ''){
        //                         sHtml += '<span class="layui-nav-more"></span>';
        //                     }
        //                     sHtml += '</a>';
        //                     if(data.data[i].child != ''){
        //                         console.log(data.data[i].child);
        //                         sHtml += '<dl class="layui-nav-child">';
        //                             for(var j=0;j<data.data[i].child.length;j++){
        //                                 sHtml +=  '<dd><a href="javascript:;">'+data.data[i].child[j].title+'</a></dd>\n';
        //                             }
        //                         sHtml += '</dl>';
        //                     }
        //                     sHtml += '</li>';
        //
        //                 }
        //                 $("#left-menu").append(sHtml);
        //             }else{
        //                 alert(data.message);
        //             }
        //
        //
        //         }
        //     })
        //
        // })


    });
</script>
</body>
</html>